<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div>Name :{{user.name}}</div>
<div>Lastname :{{user.lastname}}</div>
<div>Age :{{user.age}}</div>
<div>Login :{{user.login}}</div>
<div>Password :{{user.password}}</div>
<br/>

<a href="/users">
    <button>list of users</button>
</a>

</body>
</html>